[flake8]
max-line-length = 127
max-complexity = 10
exclude = .git,__pycache__,.pytest_cache,.venv,venv,env,.env,migrations,node_modules,.tox,build,dist
ignore = E203,W503,E501
extend-ignore = E203,W503,E501
show-source = True
count = True
statistics = True
